:root {
  font-size: 10px;
  --primary_color: #ed4337;
  --light_color: #fbfaf5;
  --dark_color: #181a18;
  --nav_height: 15rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background: var(--light_color);
}

button {
  cursor: pointer;
  padding: 1rem 1.5rem;
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary_color);
  background: var(--light_color);
  border: none;
}

img {
  width: 75px;
  border-radius: 100px;
}

.nav_container {
  height: var(--nav_height);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 2rem 15rem 0 15rem;
  border-bottom: var(--dark_color) solid 0.2rem;
}

.nav_container h1 {
  font-size: 5rem;
  color: var(--primary_color);
}

.pic_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list_container {
  border-right: 2px solid var(--dark_color);
  width: 20%;
  max-width: 20%;
  height: calc(100vh - var(--nav_height));
  max-height: calc(100vh - var(--nav_height));
  text-align: center;
  overflow: auto;
}

h2 {
  color: var(--primary_color);
  font-size: 2rem;
  padding-top: 2rem;
}

.main_container {
  display: flex;
}

.form_container {
  width: 80%;
  height: calc(100vh - var(--nav_height));
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fefefe;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: var(--dark_color) solid 1px;
  width: 30%;
  height: 40vh;
  background: var(--light_color);
}

form button {
  background-color: #fefefe;
  border: var(--dark_color) solid 0.1rem;
  margin: 2rem;
}

input {
  margin: 2rem 0;
  font-size: 2rem;
}

.task {
  display: flex;
  flex-flow: column;
  padding: 1rem;
  margin: 1rem;
  border: solid 1px var(--dark_color);
  background-color: #fefefe;
  overflow: hidden;
}

.task h3 {
  font-size: 2rem;
}

.task p {
  font-size: 1.5rem;
}


.task .incompleted button {
  background-color: #fefefe;
}

.task .completed button {
  background-color: #fefefe;
  color: #99CC99;
}